/* Custom Headerbar COPIED from Blackbox */
.custom-headerbar {
    background-color: @headerbar_bg_color;
}

/* .custom-headerbar.backdrop {
    background-color: var(--headerbar-backdrop-color);
    transition: background-color 200ms ease-out;
  }
  
  .custom-headerbar.backdrop > windowhandle {
    filter: opacity(0.5);
    transition: filter 200ms ease-out;
  }
.transparent-window {
    background-color: transparent;
} */

tabbar {
    margin-bottom: 100px;
}